.table-responsive, .divisor, .hojaCanciones #contendorGeneral .navegador .contenedor-navegador, footer, header .navbar {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

.contenedorvideo .videoSec .video {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../Img/FondoPage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo {
  color: rgb(238, 174, 202);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  text-shadow: 0px 0px 0px rgb(248, 243, 243);
}

.colorTexto {
  background-color: rgba(250, 235, 215, 0.678);
  opacity: 70%;
}

.fuentePrincipal {
  font-family: "Playfair Display", serif;
}

.colorPrincipal {
  background: linear-gradient(351deg, rgb(238, 174, 202) 27%, rgba(242, 211, 224, 0.8239670868) 97%, rgb(245, 245, 245) 100%);
}

header .carrousels {
  display: flex;
  height: 600px;
  width: 100%;
  position: relative;
  margin-bottom: 5%;
}
header .carrousels .perspectiva {
  width: 103%;
  animation-name: crecer !important;
  animation-iteration-count: 1 !important;
  animation-timing-function: ease-in !important;
  animation-duration: 10s !important;
}
@keyframes crecer {
  0% {
    width: 100%;
  }
  25% {
    width: 101%;
  }
  50% {
    width: 101.5%;
  }
  75% {
    width: 102%;
  }
  100% {
    width: 102.5%;
  }
}
header .navbar {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  position: sticky;
  top: 0;
  z-index: 12;
}
header .navbar .collapse {
  justify-content: center;
}
header .navbar .collapse li:hover .dropdown {
  display: block !important;
  border-radius: 25px;
}
header .navbar .collapse li .nav-link {
  color: rgb(68, 24, 66);
  font-family: "Playfair Display", serif;
}
header .navbar .collapse .menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header .navbar .collapse .menu li {
  transition: 1s;
}
header .navbar .collapse .menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: rgb(68, 24, 66);
}
header .navbar .collapse .menu li:hover {
  background-color: aliceblue;
  box-shadow: 0 0 50px 25px rgba(241, 166, 207, 0.863);
  border-radius: 25px;
  transition: 1s;
}
header .navbar .collapse .menu li:hover .menu-vertical {
  display: block;
}
header .navbar .collapse .menu li .menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: aliceblue;
  border-radius: 15px;
}
header .navbar .collapse .menu li .menu-vertical:hover {
  background-color: aliceblue;
}
header .navbar .collapse .menu li .menu-vertical a {
  font-size: 16px;
}

.contenedorvideo {
  margin-top: 10%;
  margin-bottom: 10%;
}
.contenedorvideo .videoSec .video iframe {
  box-shadow: 0 0 50px 25px rgba(241, 166, 207, 0.863);
  border-radius: 25px;
}
.contenedorvideo .Escuchalo {
  font-family: "Playfair Display", serif;
  color: black;
  background-color: rgb(238, 174, 202);
  text-align: center;
  justify-content: center;
  font-size: 25px;
  position: relative;
  text-shadow: 0px 0px 0px rgb(248, 243, 243);
  border: 4px solid rgba(241, 166, 207, 0.863);
  box-shadow: 0 0 30px 15px rgba(241, 166, 207, 0.863);
  animation-name: girarColor !important;
  animation-iteration-count: infinite !important;
  animation-timing-function: ease-in !important;
  animation-duration: 5s !important;
}
@keyframes girarColor {
  0% {
    background: rgb(238, 238, 238);
    background: linear-gradient(180deg, rgb(238, 238, 238) 3%, rgba(176, 104, 180, 0.8659838936) 97%, rgba(152, 150, 85, 0.8547794118) 100%);
  }
  25% {
    background: linear-gradient(203deg, rgb(238, 238, 238) 3%, rgba(176, 104, 180, 0.8659838936) 97%, rgba(152, 150, 85, 0.8547794118) 100%);
  }
  50% {
    background: linear-gradient(279deg, rgb(238, 238, 238) 3%, rgba(176, 104, 180, 0.8659838936) 97%, rgba(152, 150, 85, 0.8547794118) 100%);
  }
  75% {
    background: linear-gradient(17deg, rgb(238, 238, 238) 3%, rgba(176, 104, 180, 0.8659838936) 97%, rgba(152, 150, 85, 0.8547794118) 100%);
  }
  100% {
    background: linear-gradient(90deg, rgb(238, 238, 238) 3%, rgba(176, 104, 180, 0.8659838936) 97%, rgba(152, 150, 85, 0.8547794118) 100%);
  }
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bioIndex {
  background-color: rgba(250, 235, 215, 0.678) !important;
  margin-bottom: 20%;
  box-shadow: 0 0 50px 25px rgba(241, 166, 207, 0.863);
  border-radius: 25px;
}
.bioIndex .resumen {
  font-size: 25px;
}
.bioIndex .linkbio {
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

aside {
  position: fixed;
  left: 85%;
  top: 80px;
  z-index: 12;
}
aside li {
  list-style: none;
  margin: 20px;
}
aside li img {
  height: 30px;
  transition: all 300ms;
}
aside li img:hover {
  height: 50px;
  transition: all 300ms;
}

footer {
  width: 100%;
}
footer img {
  width: 25px;
}

#carouselExampleDark {
  height: 35%;
  width: 50%;
  display: flex;
  position: relative;
  left: 25%;
}

.album {
  background: rgb(238, 174, 202);
}
.album .grid-container {
  display: grid;
}
.album .grid-container .galery-img {
  height: 100%;
  object-fit: cover;
}

.hojaCanciones #contendorGeneral {
  flex-wrap: nowrap;
}
.hojaCanciones #contendorGeneral .navegador {
  display: block;
}
.hojaCanciones #contendorGeneral .navegador .contenedor-navegador {
  position: sticky;
  top: 75px;
  width: 50%;
  padding: 2px;
}
.hojaCanciones #contendorGeneral .navegador .contenedor-navegador p {
  font-size: 25px;
  text-decoration: underline;
}
.hojaCanciones #contendorGeneral .navegador .contenedor-navegador ul {
  list-style: none;
  justify-content: left;
}
.hojaCanciones #contendorGeneral .navegador .contenedor-navegador ul li {
  text-decoration: none;
}
.hojaCanciones #contendorGeneral .navegador .contenedor-navegador ul li a {
  text-decoration: none;
}
.hojaCanciones #contendorGeneral .navegador .contenedor-navegador ul li:hover {
  background-color: hotpink;
  font-size: 20px;
}
.hojaCanciones #contendorGeneral .imgcancion img {
  height: 25%;
  width: auto;
}
.hojaCanciones #contendorGeneral .contendeor-cancion {
  width: auto;
  position: relative;
}
.hojaCanciones #contendorGeneral .contendeor-cancion .titulo-cancion {
  margin: 5px;
}
.hojaCanciones #contendorGeneral .contendeor-cancion .text-cancion strong {
  font-size: 15px;
  text-align: right;
}
.hojaCanciones #contendorGeneral .contendeor-cancion .text-cancion pre {
  font-family: "Playfair Display", serif;
  color: black;
  background-color: none;
  text-align: none;
  justify-content: none;
  font-size: 20px;
  margin: 20px;
}

.promocion {
  padding: 15px;
  margin: 15px;
  margin-left: 10px;
}
.promocion pre {
  font-size: 25px;
}

.formclases {
  background-color: blanchedalmond;
  opacity: 92%;
  width: 80%;
  margin-left: 15px;
  padding: 15px;
}
.formclases .boton {
  background-color: rgb(238, 174, 202);
}

.divisor {
  height: 50px;
  margin-bottom: 15px;
  width: 100%;
}

.contenedores-biografia {
  padding: 10px;
}
.contenedores-biografia .bio pre {
  padding: 60px;
  font-size: 25px;
}
.contenedores-biografia .img-biograf {
  width: 100%;
  object-fit: cover;
}

.table-responsive {
  margin: 15px;
}

.texto {
  color: black;
}

/*# sourceMappingURL=style.css.map */
