* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/Img/FondoPage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo {
  color: rgb(238, 174, 202);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  text-shadow: 0px 0px 0px rgb(248, 243, 243);
}

.colorTexto {
  background-color: rgba(250, 235, 215, 0.678);
  opacity: 70%;
}

.fuentePrincipal {
  font-family: "Playfair Display", serif;
}

.colorPrincipal {
  background: linear-gradient(351deg, rgb(238, 174, 202) 27%, rgba(242, 211, 224, 0.8239670868) 97%, rgb(245, 245, 245) 100%);
}

.navbar {
  margin-bottom: 10px;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  font-family: "Playfair Display", serif;
  font-size: 25px;
}
.navbar .collapse {
  justify-content: center;
}
.navbar .collapse li:hover .dropdown {
  display: block !important;
}
.navbar .collapse li .nav-link {
  color: rgb(68, 24, 66);
  font-family: "Playfair Display", serif;
}
.navbar .collapse .menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.navbar .collapse .menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: rgb(68, 24, 66);
}
.navbar .collapse .menu li:hover {
  background-color: aliceblue;
}
.navbar .collapse .menu li:hover .menu-vertical {
  display: block;
}
.navbar .collapse .menu li .menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: hotpink;
}
.navbar .collapse .menu li .menu-vertical a {
  font-size: 16px;
}

.carrousels {
  display: flex;
  height: 600px;
  width: 100%;
  position: relative;
  margin-bottom: 5%;
}

.perspectiva {
  width: 103%;
  height: 80%;
  animation-name: crecer !important;
  animation-iteration-count: 1 !important;
  animation-timing-function: ease-in !important;
  animation-duration: 15s !important;
  animation-name: crecer !important;
  animation-iteration-count: 1 !important;
  animation-timing-function: ease-in !important;
  animation-duration: 10s !important;
}

@keyframes crecer {
  0% {
    width: 100%;
    height: 80%;
  }
  25% {
    width: 100, 75%;
    height: 80, 75%;
  }
  50% {
    width: 101, 5%;
    height: 81, 5%;
  }
  75% {
    width: 102, 25%;
    height: 82, 25%;
  }
  100% {
    width: 103%;
    height: 83%;
  }
}
.video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.video iframe {
  height: 80%;
  width: 50%;
}

.Escuchalo {
  border: 4px solid black;
  text-align: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  background-color: rgb(238, 174, 202);
  color: black;
  text-shadow: 0px 0px 0px rgb(248, 243, 243);
  position: relative;
  top: -60px;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

aside {
  position: fixed;
  left: 85%;
  top: 130px;
}
aside li {
  list-style: none;
  margin: 20px;
}
aside li img {
  height: 30px;
  transition: all 300ms;
}
aside li img:hover {
  height: 50px;
  transition: all 300ms;
}

footer {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  width: 100%;
}
footer img {
  width: 25px;
}

#carouselExampleDark {
  height: 35%;
  width: 50%;
  display: flex;
  position: relative;
  left: 25%;
}

.album {
  background: rgb(238, 174, 202);
}
.album .grid-container {
  display: grid;
}
.album .grid-container .galery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navegador {
  display: block;
}
.navegador .contenedor-navegador {
  position: sticky;
  top: 75px;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  width: 50%;
  padding: 2px;
}
.navegador .contenedor-navegador p {
  font-size: 15px;
  text-decoration: underline;
}
.navegador .contenedor-navegador ul {
  list-style: none;
  justify-content: left;
}
.navegador .contenedor-navegador ul li {
  text-decoration: none;
}
.navegador .contenedor-navegador ul li a {
  text-decoration: none;
}
.navegador .contenedor-navegador ul li:hover {
  background-color: hotpink;
  font-size: 20px;
}

.imgcancion img {
  height: 25%;
  width: auto;
  object-fit: cover;
}

.titulo-cancion {
  margin: 5px;
}

.text-cancion strong {
  font-size: 15px;
  text-align: right;
}
.text-cancion p {
  margin: 20px;
}

.promocion {
  padding: 15px;
  margin: 15px;
  margin-left: 10px;
}
.promocion pre {
  font-size: 25px;
}

.formclases {
  background-color: blanchedalmond;
  opacity: 92%;
  width: 80%;
  margin-left: 15px;
  padding: 15px;
}

.divisor {
  height: 50px;
  filter: alpha(opacity=70);
  margin-bottom: 15px;
  width: 100%;
}

.contenedores-biografia {
  padding: 10px;
}
.contenedores-biografia .bio pre {
  padding: 60px;
  font-size: 25px;
}
.contenedores-biografia .img-biograf {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.table-responsive {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  margin: 15px;
}

.texto {
  color: black;
}

/*# sourceMappingURL=style.css.map */
