.hojaCanciones{
    #contendorGeneral{ 
        flex-wrap: nowrap;
        .navegador {
            display: block;
            .contenedor-navegador {
                @extend %opacidad;
                position: sticky;
                top: 75px;
                width: 50%;
                padding: 2px;
        
                p {
                    font-size: 25px;
                    text-decoration: underline;
        
                }
        
                ul {
                    list-style: none;
                    justify-content: left;
        
                    li {
                        text-decoration: none;
        
                        a {
                            text-decoration: none;
                        }
        
                        &:hover {
                            background-color: hotpink;
                            font-size: 20px;
                        }
                    }
                }
            }
        
        }
        
        .imgcancion img {
            height: 25%;
            width: auto;
            
        }
     
    
        .contendeor-cancion{
            width: auto;
            position: relative;
            
            .titulo-cancion {
                margin: 5px;
            }
            .text-cancion {
                
                strong {
                    font-size: 15px;
                    text-align: right;
                }
            
                pre {
                  @include texto($bgcolor: none, $alinear: none, $size:20px);
                    margin: 20px;
                }
            }
        }
        
    }
    }

