#carouselExampleDark {
    height: 35%;
    width: 50%;
    display: flex;
    position: relative;
    left: 25%;

}


.album {
    background: rgb(238, 174, 202);

    .grid-container {
        display: grid;

        .galery-img {
            height: 100%;
            object-fit: cover;
        }
    }
}