.carrousels {
    display: flex;
    height: 600px;
    width: 100%;
    position: relative;
    margin-bottom: 5%;
}

.perspectiva {
    width: 103%;
    animation-name: crecer !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease-in !important;
    animation-duration: 10s !important;

}

@keyframes crecer {
    0% {
        width: 100%;
    }

    25% {
        width: 100, 75%;
    }

    50% {
        width: 101, 5%;
    }

    75% {
        width: 102, 25%;
    }

    100% {
        width: 103%;
    }
}
.contenedorvideo{
    margin-top: 10%;
    margin-bottom: 10%;
    .videoSec{
        .video {
            @extend %displaycentrado;
            iframe{
                box-shadow: 0 0 50px 25px rgba(177, 177, 35, 0.562);
                border-radius: 25px; 
            }
        }
    }
        .Escuchalo {
            @include texto($bgcolor: rgb(238, 174, 202), $alinear: center, $size: 25px);
            position: relative;
            text-shadow: 0px 0px 0px rgb(248, 243, 243);
            border: 4px solid black;
            
            animation-name: girarColor !important;
            animation-iteration-count: infinite !important;
            animation-timing-function: ease-in !important;
            animation-duration: 5s !important;
            @keyframes girarColor {
                0% {
                    background: rgb(238,238,238);
                    background: linear-gradient(180deg, rgba(238,238,238,1) 3%, rgba(176,104,180,0.865983893557423) 97%, rgba(152,150,85,0.8547794117647058) 100%);
                }
            
                25% {
                    background: linear-gradient(203deg, rgba(238,238,238,1) 3%, rgba(176,104,180,0.865983893557423) 97%, rgba(152,150,85,0.8547794117647058) 100%);
                }
            
                50% {
                    background: linear-gradient(279deg, rgba(238,238,238,1) 3%, rgba(176,104,180,0.865983893557423) 97%, rgba(152,150,85,0.8547794117647058) 100%);
                }
            
                75% {
                    background: linear-gradient(17deg, rgba(238,238,238,1) 3%, rgba(176,104,180,0.865983893557423) 97%, rgba(152,150,85,0.8547794117647058) 100%);
                }
            
                100% {
                    background: linear-gradient(90deg, rgba(238,238,238,1) 3%, rgba(176,104,180,0.865983893557423) 97%, rgba(152,150,85,0.8547794117647058) 100%);
                }
            }
        }
}



.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bioIndex{
    background-color: $color_fondos_texto !important; 
    margin-bottom: 20%;
    box-shadow: 0 0 50px 25px rgba(177, 177, 35, 0.562);
    border-radius: 25px;
    .resumen{
        font-size: 25px;
    }
    .linkbio{
        font-size: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

}