.navbar {
    @extend %opacidad;
    margin-bottom: 10px;


    font-family: $fuente_texto;
    font-size: 25px;

    .collapse {
        justify-content: center;

        li {
            &:hover {
                .dropdown {
                    display: block !important;
                }
            }

            .nav-link {


                color: $color_secundario;
                font-family: $fuente_texto;
            }

        }

        .menu {
            list-style: none;
            display: flex;
            justify-content: space-around;

            li {
                a {
                    display: block;
                    padding: 15px 20px;
                    text-decoration: none;
                    color: rgb(68, 24, 66);
                }

                &:hover {
                    background-color: aliceblue;

                    .menu-vertical {
                        display: block;

                    }
                }

                .menu-vertical {
                    position: absolute;
                    display: none;
                    list-style: none;
                    width: 200px;
                    background-color: hotpink;

                    a {

                        font-size: 16px;
                    }
                }
            }
        }
    }
}