*{
    margin: 0;
    padding: 0;
}
/* .logo{
    height: 50px;
} */

.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}
.menu li a{
    display: block;
    padding:15px 20px;
    text-decoration: none;
    color: rgb(68, 24, 66);
}
.menu li:hover{
    background-color: aliceblue;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: hotpink;
}
.menu-vertical a{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}
.menu li:hover .menu-vertical{
    display: block;

}
.collapse li:hover .dropdown{
    display: block !important; 
}

/*Main*/
body{
    margin: 0;
    padding: 0;
    background-image:url("/Img/FondoPage.jpg");
    height: 150px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Playfair Display', serif;
    color: rgb(238,174,202);
    text-align: center;
    margin: 90px;
    font-size: 50px;
    text-shadow: 0px 0px 0px rgb(248, 243, 243);
}
.carrousels{
    display: flex;
    height: 50%;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.video iframe{
    height: 80%;
    width: 50%;
}

.Escuchalo{
    border: 4px solid black;
    text-align: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    background-color: rgb(238,174,202) ;
    color: black;
    text-shadow: 0px 0px 0px rgb(248, 243, 243);
    position: relative;
    top: -60px;
}
.iconosHorizontales{
   list-style: none;
   display: flex;
}

.iconRedes{
    height: 40px;

}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    background: linear-gradient(351deg, rgba(238,174,202,1) 27%, rgba(242,211,224,0.8239670868347339) 97%, rgba(245,245,245,1) 100%);
    margin-top: 15px;
    margin-bottom: 15px;
    }
/*aside*/
aside{
    position:fixed;
    left: 85%;
    top: 130px;
}
aside li{
    list-style: none;
    margin: 20px;
    
}
aside img:hover{
    height: 50px;
    transition: all 300ms;
}
aside img{
    height: 30px;
    transition: all 300ms;
}



/*BOOTSTRAP*/


/*HEADER*/
.navbar{
    background: linear-gradient(351deg, rgba(238,174,202,1) 27%, rgba(242,211,224,0.8239670868347339) 97%, rgba(245,245,245,1) 100%);
    filter:alpha(opacity=70);
    -moz-opacity:.70;opacity:.70;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    
}
.collapse{
    justify-content: center; 
}
.nav-link{
    
   
    color: rgb(68, 24, 66);
    font-family: 'Playfair Display', serif;
}
/* footer*/

footer{
    background: rgb(238,174,202);
    background: linear-gradient(351deg, rgba(238,174,202,1) 27%, rgba(242,211,224,0.8239670868347339) 97%, rgba(245,245,245,1) 100%); 
    filter:alpha(opacity=70);
    -moz-opacity:.70;opacity:.70;
    width: 100%;

}
footer img{
width: 25px;

}

.iconosHorizontalesFooter{
    list-style: none;
    display: flex;
}
.iconfooter{
    height: 30px;
}

/*Galeria*/
#carouselExampleDark{
    height: 35%;
    width: 50%;
    display: flex;
    position: relative;
    left: 25%;
    
}

.grid-container{
    display: grid; 
}
.album{
  
    background: rgb(238,174,202);
   
}
.galery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Biogrfia*/
.img-biograf{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.divisor{
    height: 50px;
    background: linear-gradient(351deg, rgba(238,174,202,1) 27%, rgba(242,211,224,0.8239670868347339) 97%, rgba(245,245,245,1) 100%); 
    filter:alpha(opacity=70);
    margin-bottom: 15px;
    width: 100%;
}

.contenedores-biografia{
    padding: 10px;
}
/**Canciones*/
.contenedor-navegador{
    position: sticky;
    top: 75px;
    background: linear-gradient(351deg, rgba(238,174,202,1) 27%, rgba(242,211,224,0.8239670868347339) 97%, rgba(245,245,245,1) 100%); 
    filter:alpha(opacity=70);
    -moz-opacity:.70;opacity:.70;
    width: 50%;
    padding: 2px;
}
.contenedor-navegador a{
    text-decoration: none;
}
.contenedor-navegador li:hover{
    background-color: hotpink;
    font-size: 20px;
}
.navegador{
    display: block;
    
    
}
.navegador p{
    font-size: 15px;
    text-decoration: underline;
    
}
.navegador ul{
    list-style: none;
    justify-content: left;
    
} 
.navegador ul li{
    text-decoration: none;
}

.canciones{
    filter:alpha(opacity=70);
    -moz-opacity:.70;opacity:.70;
    display: flex;
    flex-direction:column
    
} 
.imgcancion img{
    height: 25%;
    width: auto;
    object-fit: cover;
}
.titulo-cancion{
    margin: 5px;
}
.text-cancion strong{
font-size: 15px;
text-align: right;
}
.text-cancion p{
    margin: 20px;
}

/*Contactos*/
.promocion{
    padding: 15px;
    margin: 15px;
    margin-left: 10px;
    background-color: rgb(241, 236, 236);
    opacity: 70%;
}

.formclases{
    background-color: blanchedalmond;
    opacity: 92%; 
    width: 80%;
    margin-left: 15px;
    padding: 15px;
   
}
/*Eventos*/
.table-responsive{
    background: linear-gradient(351deg, rgba(238,174,202,1) 27%, rgba(242,211,224,0.8239670868347339) 97%, rgba(245,245,245,1) 100%); 
    filter:alpha(opacity=70);
    -moz-opacity:.70;opacity:.70;
    margin: 15px;
}
.anuncio{
    background-color: rgba(250, 235, 215, 0.678);

}
.texto{
    color: black;
}